.active {
    font-size: x-large;
    font-weight: bolder;
}

body {
    background-image: url("./assets/download.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    height: 150vh;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}

.header {
    justify-content: center;
}

h2,
h4,
h6 {
    font-family: 'Permanent Marker', cursive;
    display: flex;
    justify-content: center;
    margin-top: 50%;
}

main {
    border-bottom: solid 5px ;
    padding: 5px;
}

.navbar {
    background: rgb(245,246,247);
    background: radial-gradient(circle, rgba(245,246,247,1) 0%, rgba(129,26,23,1) 100%);
    padding: 5px;
    opacity: .8;
}
