.about {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Muli', sans-serif;
}

.about-container {
    background-color:rgb(255, 255, 255, .8);
    border: black solid 1px;
    box-shadow: black 0 0 5px 3px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;

}

.about-txt {
    padding: 10px;
}


.active {
    font-size: x-large;
    font-weight: bolder;
    border-bottom: black 1px solid ;   
}

body {
    background-image: url("./assets/download.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    height: 100vh;
}

.button {
    cursor: pointer;
    border: 1px solid #831E18;
    width: auto;
    text-align: center;
    opacity: .5;
    border-radius: 5px;
    font-family: 'montserrat';
    transition: .6s;
}

.button:hover {
    opacity: 1;
    background-color: #831E18;
    color: #ffffff;

}

.card-container {
    background-color:rgb(255, 255, 255, .8);
    border: black solid 1px;
    box-shadow: black 0 0 5px 3px;
    padding: 10px;
}

.contact {
    margin: auto;
    padding: 20px;
    font-family: 'Muli', sans-serif;

}

.contact-form {
    background-color:rgb(255, 255, 255, .8);
    width: auto;
    margin: 50px auto;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    box-shadow: #000000 0 0 10px 5px;
    justify-content: center;
    font-size: 30px;
}

.contact-txt {
    padding: 10px;
}

.footer-left,
.footer-right {
    color: #000000;
    font-size: 15px;
}

.footer-container {
    padding: 5px;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 15px;
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    background: radial-gradient(circle, rgba(245,246,247,1) 0%, rgba(129,26,23,1) 100%);
}

img {
    box-shadow: black 0 0 5px 3px;
    padding: 0;
    height: 250px;
    width: 250px;
    border-radius: 50px;
}

input {
    border: none;
    border-bottom: #831E1B solid 2px;
    width: auto;
    background-color:rgb(255, 255, 255, .1);

}

.name {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 50px;
}

.navbar {
    background: rgb(245,246,247);
    background: radial-gradient(circle, rgba(245,246,247,1) 0%, rgba(129,26,23,1) 100%);
    padding: 5px;
    font-family: 'Vollkorn', serif;
}

.project-card {
    padding: 20px;
    flex: 1;
}

.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    font-family: 'Muli', sans-serif;
    margin: auto;

}

.project-img {
    height: 150px;
    width: 150px;
}

.social {
    background-color:rgb(255, 255, 255, .8);
    font-size: 60px;
    flex-direction: row;
    padding: 15px 50px;
    border: black solid 2px;
    margin: 50px auto;
    box-shadow: #000000 0 0 10px 5px;
}

.social-container {
    display: flex;
}

.social-txt {
    font-size: 20px;
}

textarea {
    width: auto;
}



